<html>
<head>
  <%- include('./partials/head'); %>
  <title>Asteroids</title>

  <% if(mobile){ %>
    <meta name="viewport" content="user-scalable=no,target-densitydpi=device-dpi" />
  <% } %>

  <!-- JQUERY -->
  <script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"></script>

  <!-- Game Scripts -->
  <script src="public/Asteroids/js/phaser.js"></script>
      <script src="public/Asteroids/js/BootState.js"></script>
      <script src="public/Asteroids/js/PreloadState.js"></script>
      <script src="public/Asteroids/js/Gamestate.js"></script>
      <script src="public/Asteroids/js/MenuState.js"></script>
      <script src="public/Asteroids/js/InputScore.js"></script>
      <script src="public/Asteroids/js/ScoreState.js"></script>
      <script src="public/Asteroids/js/prefabs/Alien.js"></script>
      <script src="public/Asteroids/js/prefabs/Bullet.js"></script>
      <script src="public/Asteroids/js/prefabs/HealthUp.js"></script>
      <script src="public/Asteroids/js/prefabs/Rock.js"></script>

</head>
<body style="width:100%">
  <%- include('./partials/header'); %>
  <%- include('./partials/flashmessages'); %>
  <div class="container">
    <div class="row">
      <br>
      <script>
        var Asteroids = Asteroids || {};

        Asteroids.game = new Phaser.Game(700, 500, Phaser.AUTO, 'Asteroids');
        Asteroids.game.state.add('BootState', Asteroids.BootState);
        Asteroids.game.state.add('PreloadState', Asteroids.PreloadState);
        Asteroids.game.state.add('MenuState', Asteroids.MenuState);
        Asteroids.game.state.add('GameState', Asteroids.GameState);
        Asteroids.game.state.add('InputScoreState', Asteroids.InputScoreState);
        Asteroids.game.state.add('ScoreState', Asteroids.ScoreState);

        Asteroids.game.state.start('BootState');

        var pause = false, startGame = false, movingRight = false, movingLeft = false;
	    var playerJump = false, alreadDead = false; var globalScore = 0; var mobileGame = false;
    </script>
    </div>



    <% if(mobile){ %>
      
      <%- include('./partials/score_modal'); %>
      <%- include('./partials/controller'); %>
      
      <link rel="stylesheet" href="public/css/mobile-styles.css">
      <link rel="stylesheet" href="public/css/controller.css">
      <script> mobileGame = true; </script>
   <% } %>

  </div>
</body>
</html>